{% extends 'base.html' %}
{% block title %}
To Do List
{% endblock %}
{% block menu %}
    <a href="{% url 'add_paragraph' %}">Add paragraph</a>
{% endblock %}
{% block content %}

<div class="wrapper">
    <main class="main">
    <div class="container">
    <div class="card">
        {% if paragraphs %}
        {% for paragraph in paragraphs %}
            <h3 class="par">{{ paragraph.title }}  <b class="par-title">{{ paragraph.status }}</b></h3>
        <p><a href="{% url 'paragraph_detail' paragraph.pk %}" class="parlink">Подробнее..</a></p>
        <p><a href="{% url 'delete_par' paragraph.pk %}" class="parlink">Удалить</a></p>
        {%endfor%}
        {% else %}
        <h3 class="par">Нет задач. Необходимо добавить.</h3>

        {%endif%}
        </div>
    </div>
    </main>
</div>
{% endblock %}
